# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
media/
staticfiles/

# Environments
.env
.venv/
venv/
env/
ENV/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker
*.pid
docker-compose.override.yml

# Coverage
htmlcov/
.coverage
.tox/

# Migrations
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/__pycache__/

# Test
.pytest_cache/

# Others
*.swp
*.swo

# Node
node_modules/
