version: "3.9"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: library_db
      POSTGRES_USER: library_user
      POSTGRES_PASSWORD: root
    ports:
      - "5432:5432"

  web:
    build: .
    command: gunicorn library.wsgi:application --bind 0.0.0.0:8000
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DB_NAME: library_db
      DB_USER: library_user
      DB_PASSWORD: root
      DB_HOST: db
      DB_PORT: 5432
