version: '3.9'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: library_db
      POSTGRES_USER: library_user
      POSTGRES_PASSWORD: root
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      DB_NAME: library_db
      DB_USER: library_user
      DB_PASSWORD: root
      DB_HOST: db
      DB_PORT: 5432
    depends_on:
      - db
volumes:
  pgdata: